@font-face {
  font-family: Meanwhile;
  src: url(../fonts/Meanwhile.ttf);
}

@font-face {
  font-family: Calibri Light;
  src: url(../fonts/CalibriLight.ttf);
}

/* line 66, ../sass/global.sass */
.z-1 {
  z-index: 1;
}

/* line 66, ../sass/global.sass */
.z-2, #frame-115 .question {
  z-index: 2;
}

/* line 66, ../sass/global.sass */
.z-3, #frame-112 .am {
  z-index: 3;
}

/* line 66, ../sass/global.sass */
.z-4 {
  z-index: 4;
}

/* line 66, ../sass/global.sass */
.z-5, #frame-112 .am-up, #frame-112 .am-down {
  z-index: 5;
}

/* line 66, ../sass/global.sass */
.z-6 {
  z-index: 6;
}

/* line 66, ../sass/global.sass */
.z-7 {
  z-index: 7;
}

/* line 66, ../sass/global.sass */
.z-8 {
  z-index: 8;
}

/* line 66, ../sass/global.sass */
.z-9 {
  z-index: 9;
}

/* line 66, ../sass/global.sass */
.z-10 {
  z-index: 10;
}

/* line 66, ../sass/global.sass */
.z-11 {
  z-index: 11;
}

/* line 66, ../sass/global.sass */
.z-12 {
  z-index: 12;
}

/* line 66, ../sass/global.sass */
.z-13 {
  z-index: 13;
}

/* line 66, ../sass/global.sass */
.z-14 {
  z-index: 14;
}

/* line 66, ../sass/global.sass */
.z-15 {
  z-index: 15;
}

/* line 66, ../sass/global.sass */
.z-16 {
  z-index: 16;
}

/* line 66, ../sass/global.sass */
.z-17 {
  z-index: 17;
}

/* line 66, ../sass/global.sass */
.z-18 {
  z-index: 18;
}

/* line 66, ../sass/global.sass */
.z-19 {
  z-index: 19;
}

/* line 66, ../sass/global.sass */
.z-20 {
  z-index: 20;
}

/* line 69, ../sass/global.sass */
.black-skin {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: black;
  opacity: 0.7;
  z-index: 10;
}

/* line 77, ../sass/global.sass */
.next-button, .start-button, .correct, .keep-thinking, .result {
  border-radius: 50%;
  z-index: 11;
  width: 20%;
  height: 40%;
  position: absolute;
  left: 40%;
  top: 30%;
  background-color: white;
  color: black;
  font-size: 3vmax;
  text-align: center;
  padding-top: 8.5%;
}

/* line 91, ../sass/global.sass */
.next-button:hover, .start-button:hover, .result:hover {
  color: white;
  background-color: black;
}

/* line 95, ../sass/global.sass */
.absolute-max, #main, .frame, #frame-101 .bg, #frame-101 .flags, #frame-101 .flags-highlighted, #frame-102 .bg, #frame-102 .aktobe-flag, #frame-102 .aktobe-highlighted, #frame-102 .aktobe-helicopter, #frame-103 .bg, #frame-103 .aktobe-flag, #frame-103 .aktobe-highlighted, #frame-103 .aktobe-helicopter, #frame-102 .vocabulary, #frame-104 .bg, #frame-104 .mendeleev-table, #frame-104 .cr-highlighted, #frame-105 .bg, #frame-106 .bg, #frame-106 .mendeleev-table, #frame-106 .cr-highlighted, #frame-107 .bg, #frame-107 .bg-blazon, #frame-108 .bg, #frame-109 .bg, #frame-109 .bg-blazon, #frame-110 .bg, #frame-110 .mendeleev-table, #frame-111 .bg, #frame-111 .elem, #frame-112 .bg, #frame-112 .task, #frame-112 .elem-symbols, #frame-113 .bg, #frame-113 .map-highlighted, #frame-113 .helicopter, #frame-113 .vocabulary, #frame-114 *, #frame-114 .mendeleev-table, #frame-115 .bg, #frame-115 .pics, #frame-201 .bg, #frame-202 .bg, #frame-301 .bg, #frame-301 .symbols, .intro-video, .intro-pic {
  position: absolute;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 100%;
  background-size: auto 100%;
  background-repeat: no-repeat;
}

/* line 104, ../sass/global.sass */
.absolute, #frame-000 .button, #frame-000 .label, #frame-000 .annotation-hidden, #frame-000 .annotation-button, #frame-000 .copyright, #frame-102 .aktobe-highlighted .label, #frame-102 .helicopter, #frame-103 .aktobe-highlighted .label, #frame-103 .helicopter, #frame-104 .task, #frame-104 .table, #frame-104 .check-button, #frame-104 .bulb, #frame-105 .text, #frame-105 .blazon, #frame-105 .submarine, #frame-106 .blazon, #frame-106 .bulb, #frame-106 .table, #frame-106 .task, #frame-106 .check-button, #frame-106 .award, #frame-104 .award, #frame-107 .text-pic-container, #frame-108 .task-container, #frame-108 .check-button, #frame-108 .award, #frame-109 .magnet, #frame-110 .question, #frame-110 .answer, #frame-110 .bulb, #frame-110 .check-button, #frame-111 .box, #frame-112 .table, #frame-112 .label-1, #frame-112 .label, #frame-112 .am, #frame-112 .am-up, #frame-112 .am-down, #frame-112 .check-button, #frame-112 .award, #frame-113 .map-highlighted .label, #frame-115 .question, #frame-115 .check-button, #frame-115 .award, #frame-201 .logo, #frame-202 .title, #frame-202 .tour, #frame-202 .correct-number, #frame-202 .wheel, #frame-202 .rotate-button, #frame-202 .help-button, #frame-202 .cells-container, #frame-202 .table, #frame-202 .question, #frame-202 .formula, #frame-202 .check, #frame-202 .pointer, #frame-202 .home, #frame-202 .hint-1, #frame-301 .box, #frame-301 .source-box, #frame-301 .facts-home-button, .intro-pic .grade, .intro-pic .subject, .reg-box, .blazon-aktobe, .blazon-kostanai, .blazon-karaganda, .blazon-east-kazakhstan {
  position: absolute;
  background-size: auto 100%;
  background-repeat: no-repeat;
}

/* line 109, ../sass/global.sass */
.transition-2s {
  -ms-transition: all 2s;
  -webkit-transition: all 2s;
  -moz-transition: all 2s;
  -o-transition: all 2s;
  transition: all 2s;
}

/* line 116, ../sass/global.sass */
.border-box, * {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
}

/* line 123, ../sass/global.sass */
* {
  font-family: Verdana;
}

/* line 127, ../sass/global.sass */
.blink-shadow {
  box-shadow: 0px 0px 10px 10px white;
  -moz-box-shadow: 0px 0px 10px 10px white;
  -o-box-shadow: 0px 0px 10px 10px white;
  -webkit-box-shadow: 0px 0px 10px 10px white;
  -ms-box-shadow: 0px 0px 10px 10px white;
}

/*GLOBAL AND MENU */
/* line 132, ../sass/global.sass */
body {
  position: absolute;
  margin: 0%;
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
  max-width: 100%;
  max-height: 100%;
  font-size: 50px;
}

/* line 146, ../sass/global.sass */
.frame {
  background-size: 100% 100%;
  overflow: hidden;
}

/*FRAM 000 (TITLE PAGE) */
/* line 153, ../sass/global.sass */
#frame-000 {
  background-image: url(../pics/s0-bg.png);
}

/* line 156, ../sass/global.sass */
#frame-000 .button {
  cursor: pointer;
  background-size: 100% 100%;
}

/* line 161, ../sass/global.sass */
#frame-000 .treasures {
  left: 15.2%;
  top: 18%;
  width: 23%;
  height: 58%;
  background-image: url(../pics/s0-treasures-no-light.png);
  background-size: 100% 100%;
}

/* line 166, ../sass/global.sass */
#frame-000 .treasures:hover {
  background-image: url(../pics/s0-treasures-light.png);
  text-shadow: 0px 0px 3px white, 0px 0px 3px white, 0px 0px 3px white;
}

/* line 170, ../sass/global.sass */
#frame-000 .game {
  left: 42%;
  top: 18%;
  width: 18.4%;
  height: 50%;
  background-image: url(../pics/s0-game-no-light.png);
}

/* line 174, ../sass/global.sass */
#frame-000 .game:hover {
  background-image: url(../pics/s0-game-light.png);
  text-shadow: 0px 0px 3px white, 0px 0px 3px white, 0px 0px 3px white;
}

/* line 178, ../sass/global.sass */
#frame-000 .sources {
  left: 63.3%;
  top: 18%;
  width: 18.4%;
  height: 50%;
  background-image: url(../pics/s0-sources-no-light.png);
}

/* line 182, ../sass/global.sass */
#frame-000 .sources:hover {
  background-image: url(../pics/s0-sources-light.png);
  text-shadow: 0px 0px 3px white, 0px 0px 3px white, 0px 0px 3px white;
}

/* line 186, ../sass/global.sass */
#frame-000 .label {
  left: 0;
  top: 100%;
  width: 100%;
  height: 20%;
  font-size: 40%;
  font-weight: bold;
  color: black;
  text-align: center;
}

/*ANNOTATION */
/* line 195, ../sass/global.sass */
#frame-000 .annotation-hidden {
  z-index: 20;
  left: -120%;
  top: 0%;
  width: 100%;
  height: 100%;
  background-color: white;
  color: black;
  -ms-transition: all 2s;
  -webkit-transition: all 2s;
  -moz-transition: all 2s;
  -o-transition: all 2s;
  transition: all 2s;
  padding: 3em 7em;
  font-size: 35%;
  font-family: Calibri Light;
  text-align: left;
}

/* line 207, ../sass/global.sass */
#frame-000 .annotation-hidden ul li {
  font-family: Calibri Light;
  font-size: 75%;
}

/* line 211, ../sass/global.sass */
#frame-000 .annotation-hidden .footer {
  font-family: Calibri Light;
  font-style: italic;
  font-size: 100%;
}

/* line 216, ../sass/global.sass */
#frame-000 .annotation-hidden .header {
  font-family: Calibri;
  font-style: bold;
  font-size: 120%;
  display: block;
  min-width: 100%;
  text-align: center;
}

/* line 224, ../sass/global.sass */
#frame-000 .annotation-shown {
  left: 0%;
  top: 0%;
  width: 100%;
  height: 100%;
}

/* line 227, ../sass/global.sass */
#frame-000 .annotation-button {
  z-index: 23;
  left: 5%;
  top: 85%;
  width: 5%;
  height: 5%;
  font-size: 30%;
  color: white;
  cursor: pointer;
  text-align: center;
}

/* line 236, ../sass/global.sass */
#frame-000 .annotation-button-close {
  color: gray;
}

/* line 239, ../sass/global.sass */
#frame-000 .annotation-button:hover {
  color: blue;
}

/* line 243, ../sass/global.sass */
#frame-000 .copyright {
  z-index: 23;
  left: 77%;
  top: 96%;
  width: 23%;
  height: 5%;
  font-size: 15%;
  color: black;
}

/*FRAME 101 */
/* line 255, ../sass/global.sass */
#frame-101 .bg {
  background-image: url(../pics/s1-bg.png);
}

/* line 259, ../sass/global.sass */
#frame-101 .flags {
  background-image: url(../pics/s1-flags.png);
}

/* line 263, ../sass/global.sass */
#frame-101 .flags-highlighted {
  background-image: url(../pics/s1-flags-highlighted.png);
}

/*FRAME 102 */
/* line 269, ../sass/global.sass */
#frame-102 .bg {
  background-image: url(../pics/s1-bg.png);
}

/* line 273, ../sass/global.sass */
#frame-102 .aktobe-flag {
  background-image: url(../pics/s2-aktobe-flag.png);
}

/* line 277, ../sass/global.sass */
#frame-102 .aktobe-highlighted {
  background-image: url(../pics/s2-aktobe-highlighted.png);
}

/* line 281, ../sass/global.sass */
#frame-102 .aktobe-highlighted .label {
  left: 24.85%;
  top: 30.7%;
  width: 12.2%;
  height: 9.1%;
  font-size: 30%;
  text-align: center;
  padding-top: 3em;
}

/* line 288, ../sass/global.sass */
#frame-102 .aktobe-helicopter {
  background-image: url(../pics/s2-aktobe-helicopter.png);
}

/* line 292, ../sass/global.sass */
#frame-102 .helicopter {
  left: 49.15%;
  top: 15.8%;
  width: 21.7%;
  height: 12.4%;
  background-image: url(../pics/s2-helicopter.gif);
}

/*FRAME 103 */
/* line 299, ../sass/global.sass */
#frame-103 .bg {
  background-image: url(../pics/s1-bg.png);
}

/* line 303, ../sass/global.sass */
#frame-103 .aktobe-flag {
  background-image: url(../pics/s2-aktobe-flag.png);
}

/* line 307, ../sass/global.sass */
#frame-103 .aktobe-highlighted {
  background-image: url(../pics/s2-aktobe-highlighted.png);
}

/* line 311, ../sass/global.sass */
#frame-103 .aktobe-highlighted .label {
  left: 24.85%;
  top: 30.7%;
  width: 12.2%;
  height: 9.1%;
  font-size: 30%;
  text-align: center;
  padding-top: 3em;
}

/* line 318, ../sass/global.sass */
#frame-103 .aktobe-helicopter {
  background-image: url(../pics/s2-aktobe-helicopter.png);
}

/* line 322, ../sass/global.sass */
#frame-103 .helicopter {
  left: 49.15%;
  top: 15.8%;
  width: 21.7%;
  height: 12.4%;
  background-image: url(../pics/s2-helicopter.gif);
}

/* line 327, ../sass/global.sass */
#frame-102 .vocabulary {
  -ms-transition: all 4s;
  -webkit-transition: all 4s;
  -moz-transition: all 4s;
  -o-transition: all 4s;
  transition: all 4s;
}

/* line 331, ../sass/global.sass */
#frame-102 .isotope {
  background-image: url(../pics/s3-isotope.png);
}

/* line 334, ../sass/global.sass */
#frame-102 .atomic-mass {
  background-image: url(../pics/s3-atomic-mass.png);
}

/* line 337, ../sass/global.sass */
#frame-102 .molar-mass {
  background-image: url(../pics/s3-molar-mass.png);
}

/* line 340, ../sass/global.sass */
#frame-102 .ammonia {
  background-image: url(../pics/s3-ammonia.png);
}

/* line 343, ../sass/global.sass */
#frame-102 .glass {
  background-image: url(../pics/s3-glass.png);
}

/* line 346, ../sass/global.sass */
#frame-102 .out-of-view {
  left: -100%;
}

/*FRAME 104 */
/* line 351, ../sass/global.sass */
#frame-104 .bg {
  background-image: url(../pics/s4-bg.png);
}

/* line 355, ../sass/global.sass */
#frame-104 .task {
  left: 7.6%;
  top: 7.1%;
  width: 82.1%;
  height: 15.1%;
  border: 3px solid #fae806;
  background-color: white;
  font-size: 30%;
  font-weight: bold;
  text-align: center;
  padding: 1em;
}

/* line 365, ../sass/global.sass */
#frame-104 .table {
  left: 28.75%;
  top: 26.3%;
  width: 42.5%;
  height: 60%;
}

/* line 369, ../sass/global.sass */
#frame-104 .table .row {
  height: 20%;
  width: 100%;
}

/* line 373, ../sass/global.sass */
#frame-104 .table .row-1 {
  height: 28%;
  width: 100%;
}

/* line 377, ../sass/global.sass */
#frame-104 .table .data {
  height: 100%;
  width: 25%;
  border: 3px solid #0161a6;
  padding: 0.5em;
  font-size: 25%;
  text-align: center;
  float: left;
  background-color: white;
}

/* line 387, ../sass/global.sass */
#frame-104 .table .data.bold {
  font-weight: bold;
}

/* line 390, ../sass/global.sass */
#frame-104 .table .data input {
  display: block;
  border: none;
  width: 100%;
  height: 100%;
  text-align: center;
  font-weight: bold;
}

/* line 398, ../sass/global.sass */
#frame-104 .check-button {
  left: 78.85%;
  top: 76%;
  width: 14.45%;
  height: 10%;
  background-color: #ff0100;
  border: 2px solid #0090bb;
  color: white;
  font-size: 25%;
  padding: 1.5em;
  text-align: center;
  cursor: pointer;
  font-weight: bold;
}

/* line 410, ../sass/global.sass */
#frame-104 .check-button:hover {
  background-color: #0090bb;
  border: 2px solid #ff0100;
}

/* line 414, ../sass/global.sass */
#frame-104 .bulb {
  left: 89.35%;
  top: 76.3%;
  width: 9.5%;
  height: 19%;
  background-image: url(../pics/s4-bulb.png);
  cursor: pointer;
}

/* line 420, ../sass/global.sass */
#frame-104 .bulb:hover {
  background-image: url(../pics/s4-bulb-hover.png);
}

/* line 423, ../sass/global.sass */
#frame-104 .mendeleev-table {
  -ms-transition: all 1s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
  background-image: url(../pics/s6-mendeleev-table.png);
  background-color: black;
}

/* line 429, ../sass/global.sass */
#frame-104 .cr-highlighted {
  background-image: url(../pics/s6-cr-highlighted.png);
}

/* line 433, ../sass/global.sass */
#frame-104 .mendeleev-table-hidden {
  left: 0%;
  top: 0%;
  width: 0%;
  height: 0%;
}

/*FRAME 105 */
/* line 439, ../sass/global.sass */
#frame-105 .bg {
  background-image: url(../pics/s4-bg.png);
}

/* line 443, ../sass/global.sass */
#frame-105 .text {
  left: 13.6%;
  top: 8.3%;
  width: 52.25%;
  height: 35%;
  background-color: white;
  font-size: 24%;
  font-weight: bold;
  border: 3px solid #fae800;
  padding: 1em;
}

/* line 452, ../sass/global.sass */
#frame-105 .blazon {
  left: 90%;
  top: 4.4%;
  width: 8.6%;
  height: 17.2%;
  background-image: url(../pics/s5-blazon.png);
}

/* line 457, ../sass/global.sass */
#frame-105 .submarine {
  left: 41.8%;
  top: 36%;
  width: 28.85%;
  height: 43%;
  background-image: url(../pics/s5-submarine.png);
}

/*FRAME 106 */
/* line 464, ../sass/global.sass */
#frame-106 .bg {
  background-image: url(../pics/s4-bg.png);
}

/* line 468, ../sass/global.sass */
#frame-106 .blazon {
  left: 90%;
  top: 4.4%;
  width: 8.6%;
  height: 17.2%;
  background-image: url(../pics/s5-blazon.png);
}

/* line 473, ../sass/global.sass */
#frame-106 .bulb {
  left: 89.35%;
  top: 76.3%;
  width: 9.5%;
  height: 19%;
  background-image: url(../pics/s4-bulb.png);
  cursor: pointer;
}

/* line 479, ../sass/global.sass */
#frame-106 .bulb:hover {
  background-image: url(../pics/s4-bulb-hover.png);
}

/* line 482, ../sass/global.sass */
#frame-106 .mendeleev-table {
  -ms-transition: all 1s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
  background-image: url(../pics/s6-mendeleev-table.png);
  background-color: black;
}

/* line 488, ../sass/global.sass */
#frame-106 .cr-highlighted {
  background-image: url(../pics/s6-cr-highlighted.png);
}

/* line 492, ../sass/global.sass */
#frame-106 .mendeleev-table-hidden {
  left: 0%;
  top: 0%;
  width: 0%;
  height: 0%;
}

/* line 495, ../sass/global.sass */
#frame-106 .table {
  left: 28.75%;
  top: 30%;
  width: 42.5%;
  height: 60%;
}

/* line 499, ../sass/global.sass */
#frame-106 .table .row {
  height: 20%;
  width: 100%;
}

/* line 503, ../sass/global.sass */
#frame-106 .table .row-1 {
  height: 28%;
  width: 100%;
}

/* line 507, ../sass/global.sass */
#frame-106 .table .data {
  height: 100%;
  width: 25%;
  border: 3px solid #0161a6;
  padding: 0.5em;
  font-size: 25%;
  text-align: center;
  float: left;
  background-color: white;
}

/* line 517, ../sass/global.sass */
#frame-106 .table .data.bold {
  font-weight: bold;
}

/* line 520, ../sass/global.sass */
#frame-106 .task {
  left: 12.25%;
  top: 5.3%;
  width: 75.35%;
  height: 21.7%;
  border: 3px solid #fae900;
  padding: 1em;
  background-color: white;
  font-size: 28%;
  text-align: center;
}

/* line 529, ../sass/global.sass */
#frame-106 .task input {
  width: 6em;
  height: 2em;
  border: none;
  border-bottom: 2px solid black;
  font-size: 1em;
  border-radius: 10px;
  text-align: center;
}

/* line 538, ../sass/global.sass */
#frame-106 .check-button {
  left: 75%;
  top: 76%;
  width: 14.45%;
  height: 10%;
  background-color: #ff0100;
  border: 2px solid #0090bb;
  color: white;
  font-size: 25%;
  padding: 1.5em;
  text-align: center;
  cursor: pointer;
  font-weight: bold;
}

/* line 550, ../sass/global.sass */
#frame-106 .check-button:hover {
  background-color: #0090bb;
  border: 2px solid #ff0100;
}

/* line 554, ../sass/global.sass */
#frame-106 .award, #frame-104 .award {
  left: 23.5%;
  top: 54.1%;
  width: 53%;
  height: 20%;
  border: 3px solid #fbed35;
  font-size: 35%;
  padding: 1em;
  background-color: white;
  text-align: center;
}

/*FRAME 107 */
/* line 565, ../sass/global.sass */
#frame-107 .bg {
  background-image: url(../pics/s7-bg.png);
}

/* line 569, ../sass/global.sass */
#frame-107 .bg-blazon {
  background-image: url(../pics/blazon-east-kazakhstan.png);
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
}

/* line 576, ../sass/global.sass */
#frame-107 .text-pic-container {
  left: 17.5%;
  top: 2.6%;
  width: 66.65%;
  height: 72.3%;
  background-color: #1975ff;
  border: 4px solid white;
  padding: 10px 30px;
}

/* line 583, ../sass/global.sass */
#frame-107 .elem {
  position: relative;
  width: 14.0%;
  height: 30%;
  -ms-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  float: left;
  border: 3px solid white;
  margin: 20px;
  background-size: 100% 100%;
  border-radius: 10px;
}

/* line 593, ../sass/global.sass */
#frame-107 .elem.row-1 {
  cursor: pointer;
}

/* line 596, ../sass/global.sass */
#frame-107 .elem.row-1:hover {
  box-shadow: 0px 0px 5px 5px white;
  -moz-box-shadow: 0px 0px 5px 5px white;
  -o-box-shadow: 0px 0px 5px 5px white;
  -webkit-box-shadow: 0px 0px 5px 5px white;
  -ms-box-shadow: 0px 0px 5px 5px white;
}

/* line 599, ../sass/global.sass */
#frame-107 .elem .label {
  width: 100%;
  height: 1.5em;
  padding: 0.4em;
  font-size: 19%;
  font-weight: bold;
  text-align: center;
}

/* line 607, ../sass/global.sass */
#frame-107 .elem .comment {
  position: relative;
  left: 0%;
  top: 5%;
  width: 100%;
  height: 80%;
  padding: 0.5em;
  font-size: 25%;
  font-weight: bold;
  z-index: 1;
  background-color: black;
  color: white;
  border-radius: 10px;
  text-align: center;
  -ms-transition: all 2s;
  -webkit-transition: all 2s;
  -moz-transition: all 2s;
  -o-transition: all 2s;
  transition: all 2s;
}

/* line 623, ../sass/global.sass */
#frame-107 .elem .comment-hidden {
  opacity: 0;
}

/* line 626, ../sass/global.sass */
#frame-107 .elem.pb {
  background-image: url(../pics/s7-pb.png);
}

/* line 629, ../sass/global.sass */
#frame-107 .elem.zn {
  background-image: url(../pics/s7-zn.png);
}

/* line 632, ../sass/global.sass */
#frame-107 .elem.cu {
  background-image: url(../pics/s7-cu.png);
}

/* line 635, ../sass/global.sass */
#frame-107 .elem.au {
  background-image: url(../pics/s7-au.png);
}

/* line 638, ../sass/global.sass */
#frame-107 .elem.ag {
  background-image: url(../pics/s7-ag.png);
}

/* line 641, ../sass/global.sass */
#frame-107 .elem.cd {
  background-image: url(../pics/s7-cd.png);
}

/* line 644, ../sass/global.sass */
#frame-107 .elem.bi {
  background-image: url(../pics/s7-bi.png);
}

/* line 647, ../sass/global.sass */
#frame-107 .elem.sn {
  background-image: url(../pics/s7-sn.png);
}

/* line 650, ../sass/global.sass */
#frame-107 .elem.in {
  background-image: url(../pics/s7-in.png);
}

/* line 653, ../sass/global.sass */
#frame-107 .elem.ga {
  background-image: url(../pics/s7-ga.png);
}

/* line 656, ../sass/global.sass */
#frame-107 .elem.highlighted {
  box-shadow: 0px 0px 5px 5px white;
  -moz-box-shadow: 0px 0px 5px 5px white;
  -o-box-shadow: 0px 0px 5px 5px white;
  -webkit-box-shadow: 0px 0px 5px 5px white;
  -ms-box-shadow: 0px 0px 5px 5px white;
}

/* line 659, ../sass/global.sass */
#frame-107 .text {
  width: 100%;
  height: 3em;
  font-size: 25%;
  color: white;
  text-align: center;
  font-weight: bold;
}

/* line 667, ../sass/global.sass */
#frame-108 .bg {
  background-image: url(../pics/s7-bg.png);
}

/* line 671, ../sass/global.sass */
#frame-108 .task-container {
  left: 7.15%;
  top: 5.3%;
  width: 85.7%;
  height: 86.9%;
  border: 4px solid #fae800;
  border-radius: 10px;
  background-color: white;
  padding: 1em;
  font-size: 35%;
}

/* line 680, ../sass/global.sass */
#frame-108 .title {
  font-weight: bold;
  font-style: italic;
}

/* line 684, ../sass/global.sass */
#frame-108 .task .question {
  font-weight: bold;
  margin-top: 10px;
}

/* line 688, ../sass/global.sass */
#frame-108 .task .answer {
  margin-top: 5px;
  cursor: pointer;
}

/* line 692, ../sass/global.sass */
#frame-108 .task .answer:hover {
  font-weight: bold;
}

/* line 695, ../sass/global.sass */
#frame-108 .task .answer.selected {
  font-weight: bold;
}

/* line 698, ../sass/global.sass */
#frame-108 .check-button {
  left: 75%;
  top: 76%;
  width: 14.45%;
  height: 10%;
  background-color: #ff0100;
  border: 2px solid #0090bb;
  color: white;
  font-size: 25%;
  padding: 1.5em;
  text-align: center;
  cursor: pointer;
  font-weight: bold;
}

/* line 710, ../sass/global.sass */
#frame-108 .check-button:hover {
  background-color: #0090bb;
  border: 2px solid #ff0100;
}

/* line 714, ../sass/global.sass */
#frame-108 .award {
  left: 23.5%;
  top: 54.1%;
  width: 53%;
  height: 20%;
  border: 3px solid #fbed35;
  font-size: 35%;
  padding: 1em;
  background-color: white;
  text-align: center;
}

/*FRAME 109 */
/* line 725, ../sass/global.sass */
#frame-109 .bg {
  background-image: url(../pics/s9-bg.png);
}

/* line 729, ../sass/global.sass */
#frame-109 .bg-blazon {
  background-image: url(../pics/blazon-kostanai.png);
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
}

/* line 736, ../sass/global.sass */
#frame-109 .magnet {
  background-image: url(../pics/s9-magnet.png);
  left: 65.05%;
  top: 7.4%;
  width: 25%;
  height: 47.4%;
  background-color: white;
  border: 4px solid blue;
  border-radius: 10px;
  background-size: 100% 100%;
}

/*FRAME 110 */
/* line 747, ../sass/global.sass */
#frame-110 .bg {
  background-image: url(../pics/s9-bg.png);
}

/* line 751, ../sass/global.sass */
#frame-110 .question {
  left: 11.8%;
  top: 8.6%;
  width: 52.4%;
  height: 35.5%;
  background-color: white;
  border: 4px solid yellow;
  border-radius: 10px;
  padding: 0.7em;
  font-size: 40%;
}

/* line 760, ../sass/global.sass */
#frame-110 .answer {
  left: 33.1%;
  top: 40%;
  width: 28.4%;
  height: 10.9%;
  background-color: white;
  border: 3px solid yellow;
  font-size: 30%;
  display: block;
  padding: 0.3em;
  text-align: center;
}

/* line 770, ../sass/global.sass */
#frame-110 .bulb {
  left: 89.35%;
  top: 76.3%;
  width: 9.5%;
  height: 19%;
  background-image: url(../pics/s4-bulb.png);
  cursor: pointer;
}

/* line 776, ../sass/global.sass */
#frame-110 .bulb:hover {
  background-image: url(../pics/s4-bulb-hover.png);
}

/* line 779, ../sass/global.sass */
#frame-110 .mendeleev-table {
  -ms-transition: all 1s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
  background-image: url(../pics/s6-mendeleev-table.png);
  background-color: black;
}

/* line 785, ../sass/global.sass */
#frame-110 .mendeleev-table-hidden {
  left: 0%;
  top: 0%;
  width: 0%;
  height: 0%;
}

/* line 788, ../sass/global.sass */
#frame-110 .check-button {
  left: 75%;
  top: 76%;
  width: 14.45%;
  height: 10%;
  background-color: #ff0100;
  border: 2px solid #0090bb;
  color: white;
  font-size: 25%;
  padding: 1.5em;
  text-align: center;
  cursor: pointer;
  font-weight: bold;
}

/* line 800, ../sass/global.sass */
#frame-110 .check-button:hover {
  background-color: #0090bb;
  border: 2px solid #ff0100;
}

/*FRAME 111 */
/* line 806, ../sass/global.sass */
#frame-111 .bg {
  background-image: url(../pics/s9-bg.png);
}

/* line 810, ../sass/global.sass */
#frame-111 .box {
  left: 30.7%;
  top: 46.7%;
  width: 37.25%;
  height: 35.4%;
  border: 4px solid #00a6a0;
  background-color: #fff02a;
}

/* line 819, ../sass/global.sass */
#frame-111 .alo {
  background-image: url(../pics/s11-alo.png);
}

/* line 822, ../sass/global.sass */
#frame-111 .al2o3 {
  background-image: url(../pics/s11-al2o3.png);
}

/* line 825, ../sass/global.sass */
#frame-111 .bauxites {
  background-image: url(../pics/s11-bauxites.png);
  padding-top: 20%;
  padding-left: 38%;
  color: transparent;
}

/* line 831, ../sass/global.sass */
#frame-111 .bauxites.seen {
  color: white;
  font-size: 50%;
  text-shadow: 0px 0px 5px black, 0px 0px 5px black, 0px 0px 5px black;
}

/* line 836, ../sass/global.sass */
#frame-111 .rome-II {
  background-image: url(../pics/s11-II.png);
}

/* line 839, ../sass/global.sass */
#frame-111 .rome-III {
  background-image: url(../pics/s11-III.png);
}

/* line 842, ../sass/global.sass */
#frame-111 .sprite-1 {
  background-image: url(../pics/s11-sprite-1.png);
}

/* line 845, ../sass/global.sass */
#frame-111 .sprite-2 {
  background-image: url(../pics/s11-sprite-2.png);
}

/* line 848, ../sass/global.sass */
#frame-111 .sprite-3 {
  background-image: url(../pics/s11-sprite-3.png);
}

/* line 851, ../sass/global.sass */
#frame-111 .sprite-4 {
  background-image: url(../pics/s11-sprite-4.png);
}

/*FRAME-112 */
/* line 856, ../sass/global.sass */
#frame-112 .bg {
  background-image: url(../pics/s9-bg.png);
}

/* line 860, ../sass/global.sass */
#frame-112 .table {
  background-image: url(../pics/s12-table.png);
  left: 50.2%;
  top: 13.1%;
  width: 48.35%;
  height: 82.8%;
}

/* line 865, ../sass/global.sass */
#frame-112 .task {
  background-image: url(../pics/s12-task.png);
}

/* line 869, ../sass/global.sass */
#frame-112 .label-1 {
  left: 4.45%;
  top: 2.4%;
  width: 42.05%;
  height: 12.7%;
  color: white;
  font-size: 35%;
  text-align: center;
  font-weight: bold;
  padding: 1em;
}

/* line 878, ../sass/global.sass */
#frame-112 .label {
  font-size: 20%;
  font-weight: bold;
  text-align: center;
  padding-top: 0.2em;
}

/* line 885, ../sass/global.sass */
#frame-112 .label-co {
  left: 5.8%;
  top: 22.9%;
  width: 13.55%;
  height: 3.9%;
}

/* line 888, ../sass/global.sass */
#frame-112 .label-sio {
  left: 31.7%;
  top: 22.6%;
  width: 13.65%;
  height: 7.1%;
}

/* line 891, ../sass/global.sass */
#frame-112 .label-nh {
  left: 5.9%;
  top: 61.5%;
  width: 13.55%;
  height: 4%;
}

/* line 894, ../sass/global.sass */
#frame-112 .label-nacl {
  left: 31.4%;
  top: 61.3%;
  width: 13.75%;
  height: 4.2%;
}

/* line 897, ../sass/global.sass */
#frame-112 .elem-symbols {
  background-image: url(../pics/s12-elem-symbols.png);
}

/* line 901, ../sass/global.sass */
#frame-112 .am {
  text-align: center;
  font-size: 20%;
  font-weight: bold;
  padding-top: 0.2em;
}

/* line 909, ../sass/global.sass */
#frame-112 .c-am {
  left: 10.2%;
  top: 54%;
  width: 2.1%;
  height: 3.3%;
}

/* line 912, ../sass/global.sass */
#frame-112 .o1-am {
  left: 17.3%;
  top: 54.2%;
  width: 1.95%;
  height: 3.4%;
}

/* line 915, ../sass/global.sass */
#frame-112 .si-am {
  left: 35.65%;
  top: 54%;
  width: 2.2%;
  height: 3.3%;
}

/* line 918, ../sass/global.sass */
#frame-112 .o2-am {
  left: 42.65%;
  top: 54.2%;
  width: 2.35%;
  height: 3.3%;
}

/* line 921, ../sass/global.sass */
#frame-112 .n-am {
  left: 10.55%;
  top: 92.1%;
  width: 2.1%;
  height: 3.2%;
}

/* line 924, ../sass/global.sass */
#frame-112 .h-am {
  left: 17.55%;
  top: 91.8%;
  width: 2.35%;
  height: 3.5%;
}

/* line 927, ../sass/global.sass */
#frame-112 .na-am {
  left: 35.8%;
  top: 91.6%;
  width: 2.2%;
  height: 3.5%;
}

/* line 930, ../sass/global.sass */
#frame-112 .cl-am {
  left: 42.75%;
  top: 91.4%;
  width: 2.3%;
  height: 3.5%;
}

/* line 933, ../sass/global.sass */
#frame-112 .am-up {
  width: 1.7%;
  height: 3.1%;
  background-image: url(../pics/s12-up.png);
  background-size: 200% 100%;
  cursor: pointer;
}

/* line 941, ../sass/global.sass */
#frame-112 .am-up:hover {
  background-position: 100% 0;
}

/* line 944, ../sass/global.sass */
#frame-112 .am-down {
  width: 1.7%;
  height: 3.1%;
  background-image: url(../pics/s12-down.png);
  background-size: 200% 100%;
  cursor: pointer;
}

/* line 952, ../sass/global.sass */
#frame-112 .am-down:hover {
  background-position: 100% 0;
}

/* line 955, ../sass/global.sass */
#frame-112 .c-up {
  left: 10.45%;
  top: 50.9%;
}

/* line 958, ../sass/global.sass */
#frame-112 .c-down {
  left: 10.4%;
  top: 57.6%;
}

/* line 961, ../sass/global.sass */
#frame-112 .o1-up {
  left: 17.4%;
  top: 50.9%;
}

/* line 964, ../sass/global.sass */
#frame-112 .o1-down {
  left: 17.4%;
  top: 57.6%;
}

/* line 967, ../sass/global.sass */
#frame-112 .si-up {
  left: 35.8%;
  top: 51%;
}

/* line 970, ../sass/global.sass */
#frame-112 .si-down {
  left: 35.8%;
  top: 57.3%;
}

/* line 973, ../sass/global.sass */
#frame-112 .o2-up {
  left: 43%;
  top: 51.2%;
}

/* line 976, ../sass/global.sass */
#frame-112 .o2-down {
  left: 43%;
  top: 57.6%;
}

/* line 979, ../sass/global.sass */
#frame-112 .n-up {
  left: 10.75%;
  top: 89%;
}

/* line 982, ../sass/global.sass */
#frame-112 .n-down {
  left: 10.75%;
  top: 95.5%;
}

/* line 985, ../sass/global.sass */
#frame-112 .h-up {
  left: 17.9%;
  top: 89%;
}

/* line 988, ../sass/global.sass */
#frame-112 .h-down {
  left: 17.9%;
  top: 95.3%;
}

/* line 991, ../sass/global.sass */
#frame-112 .na-up {
  left: 36%;
  top: 88.9%;
}

/* line 994, ../sass/global.sass */
#frame-112 .na-down {
  left: 36%;
  top: 95.2%;
}

/* line 997, ../sass/global.sass */
#frame-112 .cl-up {
  left: 43%;
  top: 88.4%;
}

/* line 1000, ../sass/global.sass */
#frame-112 .cl-down {
  left: 43%;
  top: 95%;
}

/* line 1003, ../sass/global.sass */
#frame-112 .check-button {
  left: 75%;
  top: 85%;
  width: 14.45%;
  height: 10%;
  background-color: #ff0100;
  border: 2px solid #0090bb;
  color: white;
  font-size: 25%;
  padding: 1.5em;
  text-align: center;
  cursor: pointer;
  font-weight: bold;
}

/* line 1015, ../sass/global.sass */
#frame-112 .check-button:hover {
  background-color: #0090bb;
  border: 2px solid #ff0100;
}

/* line 1019, ../sass/global.sass */
#frame-112 .award {
  left: 23.5%;
  top: 54.1%;
  width: 53%;
  height: 20%;
  border: 3px solid #fbed35;
  font-size: 35%;
  padding: 1em;
  background-color: white;
  text-align: center;
}

/*FRAME 113 */
/* line 1030, ../sass/global.sass */
#frame-113 .bg {
  background-image: url(../pics/s13-bg.png);
}

/* line 1034, ../sass/global.sass */
#frame-113 .map-highlighted {
  background-image: url(../pics/s13-map-highlighted.png);
}

/* line 1038, ../sass/global.sass */
#frame-113 .map-highlighted .label {
  left: 45%;
  top: 40%;
  width: 12.2%;
  height: 9.1%;
  font-size: 40%;
  text-align: center;
  padding-top: 3em;
}

/* line 1045, ../sass/global.sass */
#frame-113 .helicopter {
  background-image: url(../pics/s13-helicopter.png);
}

/* line 1049, ../sass/global.sass */
#frame-113 .vocabulary {
  -ms-transition: all 4s;
  -webkit-transition: all 4s;
  -moz-transition: all 4s;
  -o-transition: all 4s;
  transition: all 4s;
}

/* line 1053, ../sass/global.sass */
#frame-113 .isotope {
  background-image: url(../pics/s3-isotope.png);
}

/* line 1056, ../sass/global.sass */
#frame-113 .atomic-mass {
  background-image: url(../pics/s3-atomic-mass.png);
}

/* line 1059, ../sass/global.sass */
#frame-113 .molar-mass {
  background-image: url(../pics/s3-molar-mass.png);
}

/* line 1062, ../sass/global.sass */
#frame-113 .ammonia {
  background-image: url(../pics/s3-ammonia.png);
}

/* line 1065, ../sass/global.sass */
#frame-113 .glass {
  background-image: url(../pics/s3-glass.png);
}

/* line 1068, ../sass/global.sass */
#frame-113 .out-of-view {
  left: -100%;
}

/*FRAME 114 */
/* line 1076, ../sass/global.sass */
#frame-114 .bg {
  background-image: url(../pics/s14-bg.png);
}

/* line 1079, ../sass/global.sass */
#frame-114 .copper {
  background-image: url(../pics/s14-copper.png);
}

/* line 1082, ../sass/global.sass */
#frame-114 .moleculas {
  background-image: url(../pics/s14-moleculas.png);
}

/* line 1085, ../sass/global.sass */
#frame-114 .mendeleev-table {
  background-image: url(../pics/s14-mendeleev-table.png);
  background-color: black;
}

/*FRAME 115 */
/* line 1092, ../sass/global.sass */
#frame-115 .bg {
  background-image: url(../pics/s14-bg.png);
}

/* line 1096, ../sass/global.sass */
#frame-115 .pics {
  background-image: url(../pics/s15-pics.png);
}

/* line 1100, ../sass/global.sass */
#frame-115 .question {
  top: 10%;
  left: 25%;
  height: 10%;
  width: 60%;
  font-size: 35%;
  font-weight: bold;
  color: white;
  text-shadow: 0px 0px 5px black, 0px 0px 5px black, 0px 0px 5px black;
}

/* line 1112, ../sass/global.sass */
#frame-115 .question-1 {
  left: 32%;
  top: 30%;
  width: 50%;
  height: 10.3%;
}

/* line 1115, ../sass/global.sass */
#frame-115 .question-2 {
  left: 32%;
  top: 53%;
  width: 50%;
  height: 10.8%;
}

/* line 1118, ../sass/global.sass */
#frame-115 .question-3 {
  left: 32%;
  top: 79%;
  width: 50%;
  height: 11.2%;
  font-size: 30%;
}

/* line 1122, ../sass/global.sass */
#frame-115 .answer {
  border: none;
  font-size: 1em;
  font-weight: bold;
  color: white;
  border-bottom: 2px solid white;
  width: 3em;
  height: 1.5em;
  text-align: center;
  background-color: transparent;
  text-shadow: 0px 0px 5px black, 0px 0px 5px black, 0px 0px 5px black;
}

/* line 1134, ../sass/global.sass */
#frame-115 .check-button {
  left: 75%;
  top: 85%;
  width: 14.45%;
  height: 10%;
  background-color: #ff0100;
  border: 2px solid #0090bb;
  color: white;
  font-size: 25%;
  padding: 1.5em;
  text-align: center;
  cursor: pointer;
  font-weight: bold;
}

/* line 1146, ../sass/global.sass */
#frame-115 .check-button:hover {
  background-color: #0090bb;
  border: 2px solid #ff0100;
}

/* line 1150, ../sass/global.sass */
#frame-115 .award {
  left: 23.5%;
  top: 40%;
  width: 50%;
  min-height: 35%;
  border: 3px solid #fbed35;
  font-size: 35%;
  padding: 0.6em;
  background-color: white;
  text-align: center;
}

/*FRAME 201 */
/* line 1163, ../sass/global.sass */
#frame-201 .bg {
  background-image: url(../pics/game-bg.png);
}

/* line 1167, ../sass/global.sass */
#frame-201 .logo {
  -ms-transition: all 2s;
  -webkit-transition: all 2s;
  -moz-transition: all 2s;
  -o-transition: all 2s;
  transition: all 2s;
  background-image: url(../pics/game-logo.png);
  left: -100%;
  top: -100%;
  width: 100%;
  height: 100%;
}

/* line 1173, ../sass/global.sass */
#frame-201 .logo.state-1 {
  left: 0%;
  top: 0%;
  width: 100%;
  height: 100%;
}

/* line 1176, ../sass/global.sass */
#frame-201 .logo.state-2 {
  -ms-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);
}

/*FRAME 202 */
/* line 1181, ../sass/global.sass */
#frame-202 .bg {
  background-image: url(../pics/game-bg.png);
}

/* line 1185, ../sass/global.sass */
#frame-202 .title {
  left: 4.3%;
  top: 5.3%;
  width: 33.8%;
  height: 10.3%;
  background-position: center;
  background-image: url(../pics/game-title.png);
  background-color: #00afec;
  border: 4px solid yellow;
}

/* line 1193, ../sass/global.sass */
#frame-202 .tour {
  left: 44.35%;
  top: 5.6%;
  width: 22.4%;
  height: 9.4%;
  background-color: #00afec;
  border: 4px solid yellow;
  font-size: 40%;
  padding: 0.4em;
  text-align: center;
  color: white;
  -ms-transition: all 2s;
  -webkit-transition: all 2s;
  -moz-transition: all 2s;
  -o-transition: all 2s;
  transition: all 2s;
}

/* line 1204, ../sass/global.sass */
#frame-202 .correct-number {
  left: 73.75%;
  top: 5.6%;
  width: 22.4%;
  height: 9.4%;
  background-color: #00afec;
  border: 4px solid yellow;
  font-size: 40%;
  padding: 0.4em;
  text-align: center;
  color: white;
  -ms-transition: all 2s;
  -webkit-transition: all 2s;
  -moz-transition: all 2s;
  -o-transition: all 2s;
  transition: all 2s;
}

/* line 1215, ../sass/global.sass */
#frame-202 .correct-number-final {
  left: 37.5%;
  top: 45%;
  width: 25%;
  height: 10%;
  z-index: 6;
}

/* line 1219, ../sass/global.sass */
#frame-202 .wheel {
  left: 0.4%;
  top: 23.9%;
  width: 31.4%;
  height: 63.6%;
  background-image: url(../pics/game-wheel.png);
  background-size: 300% 100%;
  border-radius: 50%;
  border: 3px solid lightgrey;
}

/* line 1227, ../sass/global.sass */
#frame-202 .rotate-button {
  left: 30.85%;
  top: 25.7%;
  width: 8.45%;
  height: 16%;
  background-image: url(../pics/game-rotate-button.png);
  cursor: pointer;
}

/* line 1233, ../sass/global.sass */
#frame-202 .rotate-button:hover {
  background-image: url(../pics/game-rotate-button-hover.png);
}

/* line 1236, ../sass/global.sass */
#frame-202 .help-button {
  left: 31.5%;
  top: 62.6%;
  width: 7.5%;
  height: 15%;
  background-image: url(../pics/game-help-button.png);
  cursor: pointer;
  border-radius: 50%;
}

/* line 1243, ../sass/global.sass */
#frame-202 .help-button:hover {
  box-shadow: 0px 0px 5px 5px white;
  -moz-box-shadow: 0px 0px 5px 5px white;
  -o-box-shadow: 0px 0px 5px 5px white;
  -webkit-box-shadow: 0px 0px 5px 5px white;
  -ms-box-shadow: 0px 0px 5px 5px white;
}

/* line 1246, ../sass/global.sass */
#frame-202 .cells-container {
  left: 40.85%;
  top: 26.8%;
  width: 30.1%;
  height: 50.1%;
  background-color: #a2611a;
  background-size: 100% 100%;
  border: 4px solid yellow;
}

/* line 1253, ../sass/global.sass */
#frame-202 .table {
  left: 40.85%;
  top: 26.8%;
  width: 30.1%;
  height: 50.1%;
  font-size: 50%;
  padding: 0.5em;
}

/* line 1259, ../sass/global.sass */
#frame-202 .table .cell {
  display: block;
  font-size: 1em;
  margin-top: 0.2em;
  margin-left: 0.2em;
  padding: 0.2em;
  height: 2em;
  width: 1.5em;
  color: white;
  background-color: black;
  border: 1px solid black;
  float: left;
  text-align: center;
  cursor: pointer;
}

/* line 1274, ../sass/global.sass */
#frame-202 .table-1 .cell {
  padding: 0em;
  font-size: 0.7em;
  height: 2em;
  width: 1.3em;
}

/* line 1280, ../sass/global.sass */
#frame-202 .table-2 .cell {
  padding: 0em;
  font-size: 0.7em;
  height: 2em;
  width: 1.5em;
}

/* line 1286, ../sass/global.sass */
#frame-202 .table .cell.empty {
  background-color: grey;
}

/* line 1289, ../sass/global.sass */
#frame-202 .table input.cell:hover {
  background-color: white;
}

/* line 1292, ../sass/global.sass */
#frame-202 .question {
  left: 73.5%;
  top: 26.5%;
  width: 22.7%;
  height: 50.4%;
  background-color: white;
  border: 4px solid yellow;
  font-size: 30%;
  font-weight: bold;
  padding: 1em;
}

/* line 1301, ../sass/global.sass */
#frame-202 .question {
  height: auto;
}

/* line 1304, ../sass/global.sass */
#frame-202 .question-1 {
  font-size: 25%;
}

/* line 1307, ../sass/global.sass */
#frame-202 .formula {
  left: 43.45%;
  top: 80.6%;
  width: 26.6%;
  height: 13.8%;
  background-color: #00afec;
  border: 4px solid yellow;
  font-weight: bold;
  font-size: 40%;
  text-align: center;
  padding: 1em;
  color: white;
}

/* line 1318, ../sass/global.sass */
#frame-202 .check {
  left: 72.4%;
  top: 80.8%;
  width: 7.7%;
  height: 12.9%;
  background-image: url(../pics/game-check.png);
}

/* line 1323, ../sass/global.sass */
#frame-202 .pointer {
  left: 14.15%;
  top: 16.8%;
  width: 3.1%;
  height: 8.7%;
  background-image: url(../pics/game-pointer.png);
}

/* line 1328, ../sass/global.sass */
#frame-202 .home {
  left: 78.85%;
  top: 85%;
  width: 14.45%;
  height: 10%;
  background-color: #ff0100;
  border: 2px solid #0090bb;
  color: white;
  font-size: 25%;
  padding: 1.5em;
  text-align: center;
  cursor: pointer;
  font-weight: bold;
}

/* line 1340, ../sass/global.sass */
#frame-202 .home:hover {
  background-color: #0090bb;
  border: 2px solid #ff0100;
}

/* line 1344, ../sass/global.sass */
#frame-202 .hint-1 {
  left: 25%;
  top: 15.5%;
  width: 21.05%;
  height: 13.3%;
  background-image: url(../pics/game-area.png);
  background-size: 100% 100%;
  font-size: 25%;
  padding: 1.5em;
  text-align: center;
  font-weight: bold;
}

/*FRAME 301 */
/* line 1356, ../sass/global.sass */
#frame-301 .bg {
  background-image: url(../pics/sources-bg.png);
}

/* line 1360, ../sass/global.sass */
#frame-301 .symbols {
  background-image: url(../pics/sources-symbols.png);
}

/* line 1364, ../sass/global.sass */
#frame-301 .box {
  background-image: url(../pics/sources-box-2.png);
  left: 19.3%;
  top: 80%;
  width: 60.2%;
  height: 21.4%;
}

/* line 1369, ../sass/global.sass */
#frame-301 .source-box {
  left: 30%;
  top: 41%;
  width: 30%;
  height: 16%;
  text-align: center;
  font-size: 55%;
  box-shadow: 0px 0px 5px 5px white;
  -moz-box-shadow: 0px 0px 5px 5px white;
  -o-box-shadow: 0px 0px 5px 5px white;
  -webkit-box-shadow: 0px 0px 5px 5px white;
  -ms-box-shadow: 0px 0px 5px 5px white;
}

/* line 1376, ../sass/global.sass */
#frame-301 .source-box a {
  display: block;
  font-size: 50%;
  color: white;
}

/* line 1381, ../sass/global.sass */
#frame-301 a:hover {
  color: white;
  text-shadow: 0px 0px 5px black, 0px 0px 5px black, 0px 0px 5px black;
}

/* line 1385, ../sass/global.sass */
#frame-301 .facts-home-button {
  display: block;
  font-size: 50%;
  left: 94.45%;
  top: 2.8%;
  width: 4.55%;
  height: 9.1%;
  cursor: pointer;
  border-radius: 50%;
  background-color: #8dd3fd;
  border: 1px solid black;
  padding: 0.4em;
  color: white;
}

/*INTRO VIDEO */
/* line 1399, ../sass/global.sass */
.intro-video {
  background-color: white;
  z-index: 25;
}

/*INTRO PIC */
/* line 1406, ../sass/global.sass */
.intro-pic {
  background-image: url(../pics/intro-pic.png);
  z-index: 24;
}

/* line 1411, ../sass/global.sass */
.intro-pic .grade {
  left: 26%;
  top: 36.8%;
  width: 4.85%;
  height: 8.2%;
  font-family: Calibri Light;
  font-size: 70%;
  color: white;
  text-align: center;
}

/* line 1419, ../sass/global.sass */
.intro-pic .subject {
  left: 41.95%;
  top: 45.8%;
  width: 40%;
  height: 13.1%;
  font-family: Calibri Light;
  font-size: 70%;
  color: #666564;
  text-align: left;
}

/* line 1427, ../sass/global.sass */
.intro-pic .subject .sub-part {
  font-size: 80%;
  font-family: Calibri Light;
}

/*REG BOX */
/* line 1433, ../sass/global.sass */
.reg-box {
  left: 80%;
  top: 5%;
  width: 19%;
  height: 20%;
  border-radius: 7px;
  border: 1px solid lightgrey;
  opacity: 0.9;
  color: white;
  background-color: grey;
  font-size: 20%;
  font-family: Verdana;
  padding: 1em;
  line-height: 2em;
  text-align: right;
  z-index: 10;
  font-family: Verdana;
}

/* line 1449, ../sass/global.sass */
.reg-box.topcorner {
  left: 1.5%;
  top: 95%;
  -ms-transition: all 2s;
  -webkit-transition: all 2s;
  -moz-transition: all 2s;
  -o-transition: all 2s;
  transition: all 2s;
}

/* line 1453, ../sass/global.sass */
.reg-box .error {
  color: red;
  font-size: 80%;
  text-align: center;
}

/* line 1458, ../sass/global.sass */
.reg-box input {
  display: inlin-block;
  border-radius: 5px;
  border: 1px solid black;
  font-size: 80%;
  font-family: Verdana;
  height: 2em;
  width: 13em;
  padding: 0.25em;
}

/* line 1468, ../sass/global.sass */
.reg-box .enter-button {
  display: inlin-block;
  border-radius: 5px;
  border: 1px solid black;
  font-size: 80%;
  width: 10em;
  height: 2em;
  padding: 0.25em;
}

/* line 1477, ../sass/global.sass */
.reg-box .enter-button:hover {
  background-color: black;
  color: white;
}

/*AWARD CONTAINER */
/* line 1483, ../sass/global.sass */
.blazon-award {
  z-index: 10;
  background-color: darkgrey;
  border-radius: 10px;
}

/* line 1489, ../sass/global.sass */
.blazon-award .pic, .blazon-award .text {
  float: left;
}

/* line 1492, ../sass/global.sass */
.blazon-award .pic {
  background-size: auto 100%;
  width: 80%;
  height: 100%;
  border-radius: 50%;
  -ms-transition: all 2s;
  -webkit-transition: all 2s;
  -moz-transition: all 2s;
  -o-transition: all 2s;
  transition: all 2s;
}

/* line 1499, ../sass/global.sass */
.blazon-award .text {
  background-size: 100% 100%;
  width: 20%;
  height: 100%;
  font-size: 50%;
  color: white;
}

/* line 1506, ../sass/global.sass */
.blazon-aktobe {
  left: 2%;
  top: 84.9%;
  width: 8%;
  height: 13%;
}

/* line 1510, ../sass/global.sass */
.blazon-aktobe .pic {
  background-image: url(../pics/blazon-aktobe.png);
}

/* line 1513, ../sass/global.sass */
.blazon-kostanai {
  left: 10.8%;
  top: 84.9%;
  width: 8%;
  height: 13%;
}

/* line 1517, ../sass/global.sass */
.blazon-kostanai .pic {
  background-image: url(../pics/blazon-kostanai.png);
}

/* line 1520, ../sass/global.sass */
.blazon-karaganda {
  left: 19.3%;
  top: 84.9%;
  width: 8%;
  height: 13%;
}

/* line 1524, ../sass/global.sass */
.blazon-karaganda .pic {
  background-image: url(../pics/blazon-karaganda.png);
}

/* line 1527, ../sass/global.sass */
.blazon-east-kazakhstan {
  left: 27.6%;
  top: 84.9%;
  width: 8%;
  height: 13%;
}

/* line 1531, ../sass/global.sass */
.blazon-east-kazakhstan .pic {
  background-image: url(../pics/blazon-east-kazakhstan.png);
}

/* line 1534, ../sass/global.sass */
.pic-shadowed {
  box-shadow: 0px 0px 5px 5px green;
  -moz-box-shadow: 0px 0px 5px 5px green;
  -o-box-shadow: 0px 0px 5px 5px green;
  -webkit-box-shadow: 0px 0px 5px 5px green;
  -ms-box-shadow: 0px 0px 5px 5px green;
  border: 2px solid green;
}

/*INTRO VIDEO */
/* line 1540, ../sass/global.sass */
.intro-video {
  display: block;
  z-index: 25;
}

/*INTRO PIC */
/* line 1547, ../sass/global.sass */
.intro-pic {
  background-image: url(../pics/intro-pic.png);
  z-index: 24;
}

/* line 1552, ../sass/global.sass */
.intro-pic .grade {
  left: 26%;
  top: 36.8%;
  width: 4.85%;
  height: 8.2%;
  font-family: Calibri Light;
  font-size: 70%;
  color: white;
  text-align: center;
}

/* line 1560, ../sass/global.sass */
.intro-pic .subject {
  left: 41.95%;
  top: 45.8%;
  width: 40%;
  height: 13.1%;
  font-family: Calibri Light;
  font-size: 70%;
  color: #666564;
  text-align: left;
}

/* line 1568, ../sass/global.sass */
.intro-pic .subject .sub-part {
  font-size: 80%;
  font-family: Calibri Light;
}
